NODE_ENV="development"

MONGODB_URI=""
JWT_ACCESS_SECRET=JWT-ACCESS-EXAMPLE
JWT_ACCESS_EXPIRE=5m
JWT_REFRESH_SECRET=JWT-REFRESH-EXAMPLE
JWT_REFRESH_EXPIRE=30d

USER_SVC_URL="localhost:5005"
KAFKA_BROKER_URL="localhost:9092"